.sparrowIMG{
  position: fixed;
    left: 1000px;
}
.paddyIMG{
    position: relative;
    left: 600px;
    z-index: 50px;
    top: 300px;
    height: 300px;
    position: relative;
    
}
.indexBody{
    background-image: url("./images/paddy\ field.jpg");
    background-size: cover;
  
}  
.spGroup{
    position: relative;
    top: 150px;
    right: 300px;
    left: 250px;

}
.heading1{
    background-color: greenyellow;
    text-align: center;
    

}
.mainHeading1{
    background-color: green;
    display: inline-block;
    position: relative;
    top: 400px;
}
#parrotBody{
    background-image: url("./images/nature-removebg-preview.png");
    background-size: cover;
}
.parrotIMG{
    position: relative;
    left: 300px;
    bottom: 100px;
    z-index: 20;
    transform: rotate(0deg);
}
.strawberryIMG{
    transform: rotate(35deg);
    width: 300px;
    position: fixed;
    top: 105px;
    left: 300px;
    z-index:21;
    
}
.div1{
    display: inline-block;
   }
.stage1{
    position: sticky;
    top: 10px;
}   
.stage2{
    position: relative;
    left: 200px;
   
}
.stage3{
    position: absolute;
    right:500px;
    bottom: -490px;
    border: 3px solid #73AD21;
}
/* .mainIMG{
    position: fixed;
    left:px;
    width: 300px;
    height: 300px;
    top: 100px;
} */
.stage4{
    position: static;
    right:0px;
    bottom: 460px;
    border: 3px solid #73AD21;
    display: inline-block;
}
.homeIMG{
    width: 50px;
    position: fixed;
    right: 0px;
    top: 0px;
}
.nav1:hover{
background-color: skyblue;
color: blueviolet;
}
.SRHDiv{
    display: inline-block;
    /* background-color: orange; */
    border: 5px solid black;
    filter: drop-shadow(10px 10px 10px black);
} 
.SRHPlayer{
    display: inline-block;
    width: 300px;
}
 #cummins{
    position: relative;
    left: 150px;
    width: 350px;
    z-index: 20;
} 
#markram{
    position: relative;
    right: 10px;
    z-index:19;
} 
#klaasen{
    position: relative;
    left: 300px;
    z-index: 19;
} 
#nitish{
    position: relative;
    right: 180px;
    z-index:18;
}
#head{
    position: relative;
    bottom: 305px;
    left: 170px;
    z-index: 18;
}
#abdul{
    position: relative;
    left: -270px;
    bottom: 305px;
    z-index: 17;
}
#bhuvi{
    position: relative;
    right: -290px;
    bottom: 304px;
    z-index:17;
}